@using gerenciadorConsultasPICS.Areas.Admin.Enums
@model List<gerenciadorConsultasPICS.Areas.Usuario.ViewModels.Atendimento.MeusAtendimentosViewModel>
@{
    ViewData["Title"] = "Meus Atendimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-container">

    <h1>Meus atendimentos</h1>

    <div class="mt-4">

        @if (Model.Count == 0)
        {
            <p>Você não possui nenhum atendimento agendado.</p>
        }

        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-1">
                        <span>@item.nomePratica - @item.dataAtendimento.ToLongDateString()</span>
                        <span class="fw-bold status-@item.status">@item.statusAtendimento</span>
                    </div>
                    <hr />
                    <p class="mb-1" style="text-align: start;">Nome da instituição: @(item.nomeInstituicao) - CEP: @(item.cepInstituicao)</p>
                    <p class="mb-1" style="text-align: start;">@item.cidadePaciente, @item.estadoPaciente</p>
                    <hr />
                    <p class="mb-0" style="text-align: start;">
                        Horário de atendimento: @(item.horarioInicioAtendimento.Value.ToString(@"hh\:mm")) às
                        @(item.horarioFimAtendimento.Value.ToString(@"hh\:mm")), por ordem de chegada
                    </p>

                    @if (item.status == (byte)StatusAtendimento.Agendado)
                    {
                        <button type="button" class="btn-cancelar" onclick="cancelarAtendimento(@item.idAtendimento)">Cancelar atendimento</button>
                    }
                    @if (item.status == (byte)StatusAtendimento.Finalizado)
                    {
                        <button type="button" class="btn" onclick="avaliarAtendimento(@item.idAtendimento)">Avaliar atendimento</button>
                    }
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        function cancelarAtendimento(idAtendimento) {
            Swal.fire({
                title: "Caso cancele esse atendimento todos os outros atendimentos do mesmo agendamento serão cancelados, deseja prosseguir?",
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: 'LightSeaGreen',
                confirmButtonText: 'Confirmar'
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    $.ajax({
                        url: '/Usuario/Atendimento/CancelarAtendimento',
                        type: 'PUT',
                        data: { idAtendimento: idAtendimento },
                        success: function (resposta) {
                            if (resposta.sucesso) {
                                Swal.fire({
                                    title: "Atendimentos cancelados com sucesso!",
                                    confirmButtonColor: 'LightSeaGreen',
                                    icon: "success"
                                }).then((resultado) => { window.location.reload(true); });
                            } else {
                                exibirAlerta(resposta.mensagem);
                            }
                        },
                        error: function () {
                            exibirAlerta('Erro ao cancelar atendimento.');
                        }
                    });
                }
            });
        }

        function avaliarAtendimento(idAtendimento) {
            $.ajax({
                url: '/Usuario/Atendimento/AvaliarAtendimento',
                type: 'POST',
                data: { idAtendimento: idAtendimento, link: '@ViewBag.FormularioAvaliacao' },
                success: function (resposta) {
                    if (resposta.sucesso) {
                        window.open('@ViewBag.FormularioAvaliacao', '_blank');
                    } else {
                        exibirAlerta(resposta.mensagem);
                    }
                },
                error: function () {
                    exibirAlerta('Erro ao acessar avaliação.');
                }
            });
        }

    </script>
}