@model List<gerenciadorConsultasPICS.Areas.Admin.Models.Pratica>
@{
    ViewData["Title"] = "Minhas práticas - Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-container">

    <h1>Minhas práticas</h1>

    <div class="mt-4">

        @if (Model.Count == 0)
        {
            <p>Ainda não foi criada nenhuma prática.</p>
        }

        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <p class="mb-1" style="text-align: start;">@item.nome</p>
                    <p class="mb-1" style="text-align: start;">@item.descricao</p>
                    <button type="button" class="btn" onclick="editarPratica(@item.idPratica)">Editar prática</button>
                    <button type="button" class="btn-cancelar" onclick="excluirPratica(@item.idPratica)">Excluir prática</button>
                </div>
            </div>
        }

    </div>

    <button type="button" class="btn" id="btnNovaPratica">Nova prática</button>

</div>

@section Scripts {
    <script type="text/javascript">

        function editarPratica(idPratica) {
            window.location.href = '/Admin/Pratica/EdicaoPratica?idPratica=' + idPratica;
        }

        function excluirPratica(idPratica) {
            Swal.fire({
                title: "Se a prática for excluída será desvinculada de todas as instituições. Deseja prosseguir com a ação?",
                showCancelButton: true,
                cancelButtonText: 'Cancelar',
                confirmButtonColor: 'LightSeaGreen',
                confirmButtonText: 'Confirmar'
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("ExcluirPratica", "Pratica")',
                        type: 'DELETE',
                        data: {
                            idPratica: idPratica
                        },
                        success: function (resposta) {
                            if (resposta.sucesso) {
                                Swal.fire({
                                    title: "Prática excluída com sucesso!",
                                    confirmButtonColor: 'LightSeaGreen',
                                    icon: "success"
                                }).then((resultado) => { window.location.reload(true); });
                            } else {
                                exibirAlerta(resposta.mensagem);
                            }
                        },
                        error: function (xhr, status, error) {
                            exibirAlerta('Erro ao excluir prática.');
                        }
                    });
                }
            });
        }

        $(document).ready(function () {
            configurarBotaoVoltar('@Url.Action("AreaAdministrativa", "Login")');

            $('#btnNovaPratica').on('click', function () {
                window.location.href = '@Url.Action("NovaPratica", "Pratica")';
            });
        });
    </script>
}
